<%# ネイル一覧 %>
<div class='main'>
  <div class="inner">
   <div class="nail__wrapper">
    <div class='nail-contents'>

    <div class="ribbon">
      <h1>ネイルカタログ</h1>
    </div>

    <ul class='nail-lists'>
    <div class='nail-img-content'>
      <% @nails.each do |nail| %>
     <li class='list'>
      <%= link_to nail_path(nail.id) do %>
      <%= image_tag nail.image, class: "nail-img" %>
      <% end %>
     </li>
      <% end %> 
    </div>
    </ul>
    </div>
    </div>
  </div>
</div>