.main {
  background-color: #FFFFF0
}

.item-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.ribbon {
display: inline-block;
justify-content: center;
position: relative;
height: 60px;
line-height: 60px;
vertical-align: middle;
text-align: center;
padding: 7px 0;
font-size: 18px;
background: #eb004a;
color: #fff;
box-sizing: border-box;
}

.ribbon h1 {
  vertical-align: middle;
  margin: 0;
  padding: 0 30px;
  border-top: dashed 1px #fff;
  border-bottom: dashed 1px #fff;
  line-height: 46px;
  }
  
  .ribbon:before, .ribbon:after{
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
  }
  
  
  
  .ribbon:before {
  top: 0;
  left: 0;
  border-width: 30px 0px 30px 15px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  }
  
  .ribbon:after {
  top: 0;
  right: 0;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  }

  .item-lists {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item-lists>.list {
    width: 37vh;
    padding: 1vw;
    background-color: #FFF;
  }

.item-img-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-img {
  width: 33vh;
  height: 33vh;
  margin: 20px 10px;
}